
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CinemaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CinemaDB]
GO
/****** Object:  Table [dbo].[Actor]    Script Date: 7/16/2025 9:22:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actor](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[image] [varchar](255) NULL,
	[name] [varchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UKa99onpf5vqpr7eas9f06dihm0] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Actor_Movie]    Script Date: 7/16/2025 9:22:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actor_Movie](
	[actor_id] [int] NOT NULL,
	[movie_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[actor_id] ASC,
	[movie_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 7/16/2025 9:22:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[booking_date] [date] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[screening_schedule_id] [int] NULL,
	[total_amount] [float] NULL,
	[user_id] [int] NULL,
	[expiry_date] [datetime2](6) NULL,
	[booking_code] [varchar](255) NULL,
	[booking_status] [varchar](255) NULL,
	[notes] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingHistory]    Script Date: 7/16/2025 9:22:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingHistory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[movie_id] [int] NULL,
	[show_time] [datetime] NULL,
	[seat_number] [nvarchar](50) NULL,
	[booking_date] [datetime] NULL,
	[ticket_price] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Branch]    Script Date: 7/16/2025 9:22:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branch](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](255) NULL,
	[address] [nvarchar](255) NULL,
	[cinema_chain_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CinemaChain]    Script Date: 7/16/2025 9:22:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CinemaChain](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Combo]    Script Date: 7/16/2025 9:22:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Combo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[price] [decimal](18, 2) NOT NULL,
	[size] [nvarchar](50) NULL,
	[description] [nvarchar](max) NULL,
	[image] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Combo_Food]    Script Date: 7/16/2025 9:22:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Combo_Food](
	[combo_id] [int] NULL,
	[food_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Director]    Script Date: 7/16/2025 9:22:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Director](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[image] [varchar](255) NULL,
	[name] [varchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UKk4c7ci54akmh5aw0pfcyadygi] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Director_Movie]    Script Date: 7/16/2025 9:22:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Director_Movie](
	[director_id] [int] NOT NULL,
	[movie_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[director_id] ASC,
	[movie_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 7/16/2025 9:22:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[employee_id] [int] NULL,
	[salary] [varchar](255) NULL,
	[job] [varchar](255) NULL,
	[EmployeeId] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Food]    Script Date: 7/16/2025 9:22:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Food](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[price] [decimal](18, 2) NOT NULL,
	[size] [nvarchar](50) NULL,
	[description] [nvarchar](max) NULL,
	[image] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 7/16/2025 9:22:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[payment_date_time] [datetime] NULL,
	[customer_id] [int] NULL,
	[employee_id] [int] NULL,
	[booking_id] [int] NULL,
	[paymentDateTime] [datetime2](6) NULL,
	[EmployeeId] [int] NULL,
	[CustomerId] [int] NULL,
	[BookingId] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice_Combo]    Script Date: 7/16/2025 9:22:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice_Combo](
	[invoice_id] [int] NULL,
	[combo_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice_Food]    Script Date: 7/16/2025 9:22:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice_Food](
	[invoice_id] [int] NULL,
	[food_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie]    Script Date: 7/16/2025 9:22:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[image] [nvarchar](255) NULL,
	[duration] [int] NULL,
	[release_date] [datetime2](6) NULL,
	[rating] [varchar](255) NULL,
	[genre] [nvarchar](255) NULL,
	[language] [varchar](255) NULL,
	[trailer] [nvarchar](255) NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 7/16/2025 9:22:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[movie_id] [int] NULL,
	[user_id] [int] NULL,
	[comment] [nvarchar](max) NULL,
	[rating] [int] NULL,
	[date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScreeningRoom]    Script Date: 7/16/2025 9:22:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScreeningRoom](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[capacity] [int] NULL,
	[description] [varchar](255) NULL,
	[branch_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScreeningSchedule]    Script Date: 7/16/2025 9:22:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScreeningSchedule](
	[branch_id] [int] NULL,
	[end_time] [time](7) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[movie_id] [int] NOT NULL,
	[screening_room_id] [int] NULL,
	[start_time] [time](7) NULL,
	[screening_date] [datetime2](6) NULL,
	[status] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seat]    Script Date: 7/16/2025 9:22:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seat](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[screening_room_id] [int] NULL,
	[name] [varchar](255) NULL,
	[row] [varchar](255) NULL,
	[seat_type] [varchar](255) NULL,
	[status] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeatReservation]    Script Date: 7/16/2025 9:22:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeatReservation](
	[booking_id] [int] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[screening_schedule_id] [int] NULL,
	[seat_id] [int] NULL,
	[ticket_id] [int] NULL,
	[created_date] [datetime2](6) NULL,
	[reservation_status] [varchar](255) NULL,
	[reserved_until] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 7/16/2025 9:22:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[invoice_id] [int] NOT NULL,
	[price] [float] NOT NULL,
	[screening_schedule_id] [int] NULL,
	[seat_id] [int] NULL,
	[description] [varchar](255) NULL,
	[qrCode] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionSepay]    Script Date: 7/16/2025 9:22:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionSepay](
	[amount] [float] NOT NULL,
	[booking_id] [int] NULL,
	[createdAt] [date] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[updatedAt] [date] NULL,
	[description] [varchar](255) NULL,
	[merchantCode] [varchar](255) NULL,
	[status] [varchar](255) NULL,
	[transactionId] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UKka1kwugh4dpfan7f9h02khb2] UNIQUE NONCLUSTERED 
(
	[transactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/16/2025 9:22:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](255) NULL,
	[password] [varchar](255) NOT NULL,
	[date_of_birth] [varchar](255) NULL,
	[email] [varchar](255) NOT NULL,
	[phone] [varchar](255) NULL,
	[address] [nvarchar](255) NULL,
	[role] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [UKgyd8hvyxihqletypt85eidm45]    Script Date: 7/16/2025 9:22:17 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UKgyd8hvyxihqletypt85eidm45] ON [dbo].[Invoice]
(
	[BookingId] ASC
)
WHERE ([BookingId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Invoice] ADD  DEFAULT (getdate()) FOR [payment_date_time]
GO
ALTER TABLE [dbo].[Actor_Movie]  WITH CHECK ADD  CONSTRAINT [FK1i6fccx26f3d7euop9pv8w26m] FOREIGN KEY([movie_id])
REFERENCES [dbo].[Movie] ([id])
GO
ALTER TABLE [dbo].[Actor_Movie] CHECK CONSTRAINT [FK1i6fccx26f3d7euop9pv8w26m]
GO
ALTER TABLE [dbo].[Actor_Movie]  WITH CHECK ADD  CONSTRAINT [FKerh492ndwm3lakrthej1r4u] FOREIGN KEY([actor_id])
REFERENCES [dbo].[Actor] ([id])
GO
ALTER TABLE [dbo].[Actor_Movie] CHECK CONSTRAINT [FKerh492ndwm3lakrthej1r4u]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK9gek7e8ixx46d0qu052qn2ulb] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK9gek7e8ixx46d0qu052qn2ulb]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FKr03jaf920hxqtienf8f52mril] FOREIGN KEY([screening_schedule_id])
REFERENCES [dbo].[ScreeningSchedule] ([id])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FKr03jaf920hxqtienf8f52mril]
GO
ALTER TABLE [dbo].[BookingHistory]  WITH CHECK ADD FOREIGN KEY([movie_id])
REFERENCES [dbo].[Movie] ([id])
GO
ALTER TABLE [dbo].[Branch]  WITH CHECK ADD FOREIGN KEY([cinema_chain_id])
REFERENCES [dbo].[CinemaChain] ([id])
GO
ALTER TABLE [dbo].[Combo_Food]  WITH CHECK ADD FOREIGN KEY([combo_id])
REFERENCES [dbo].[Combo] ([id])
GO
ALTER TABLE [dbo].[Combo_Food]  WITH CHECK ADD FOREIGN KEY([food_id])
REFERENCES [dbo].[Food] ([id])
GO
ALTER TABLE [dbo].[Director_Movie]  WITH CHECK ADD  CONSTRAINT [FK96wb92sl0reoxlmi577q56fol] FOREIGN KEY([movie_id])
REFERENCES [dbo].[Movie] ([id])
GO
ALTER TABLE [dbo].[Director_Movie] CHECK CONSTRAINT [FK96wb92sl0reoxlmi577q56fol]
GO
ALTER TABLE [dbo].[Director_Movie]  WITH CHECK ADD  CONSTRAINT [FKd200wx4vp03tmwydblkxl1okl] FOREIGN KEY([director_id])
REFERENCES [dbo].[Director] ([id])
GO
ALTER TABLE [dbo].[Director_Movie] CHECK CONSTRAINT [FKd200wx4vp03tmwydblkxl1okl]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD FOREIGN KEY([employee_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD FOREIGN KEY([employee_id])
REFERENCES [dbo].[Employee] ([id])
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK59wwm1pmxjblc1lwp5erukub4] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([id])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK59wwm1pmxjblc1lwp5erukub4]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FKn164hys2h0y2e98lk02lh6kqc] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FKn164hys2h0y2e98lk02lh6kqc]
GO
ALTER TABLE [dbo].[Invoice_Combo]  WITH CHECK ADD FOREIGN KEY([combo_id])
REFERENCES [dbo].[Combo] ([id])
GO
ALTER TABLE [dbo].[Invoice_Combo]  WITH CHECK ADD FOREIGN KEY([invoice_id])
REFERENCES [dbo].[Invoice] ([id])
GO
ALTER TABLE [dbo].[Invoice_Food]  WITH CHECK ADD FOREIGN KEY([food_id])
REFERENCES [dbo].[Food] ([id])
GO
ALTER TABLE [dbo].[Invoice_Food]  WITH CHECK ADD FOREIGN KEY([invoice_id])
REFERENCES [dbo].[Invoice] ([id])
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD FOREIGN KEY([movie_id])
REFERENCES [dbo].[Movie] ([id])
GO
ALTER TABLE [dbo].[ScreeningRoom]  WITH CHECK ADD FOREIGN KEY([branch_id])
REFERENCES [dbo].[Branch] ([id])
GO
ALTER TABLE [dbo].[ScreeningRoom]  WITH CHECK ADD  CONSTRAINT [FKaolqtvgs7mu14cgnu5uwi7p7i] FOREIGN KEY([branch_id])
REFERENCES [dbo].[Branch] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ScreeningRoom] CHECK CONSTRAINT [FKaolqtvgs7mu14cgnu5uwi7p7i]
GO
ALTER TABLE [dbo].[ScreeningSchedule]  WITH CHECK ADD  CONSTRAINT [FK8ka21j04bijw9jwleodf9k23] FOREIGN KEY([branch_id])
REFERENCES [dbo].[Branch] ([id])
GO
ALTER TABLE [dbo].[ScreeningSchedule] CHECK CONSTRAINT [FK8ka21j04bijw9jwleodf9k23]
GO
ALTER TABLE [dbo].[ScreeningSchedule]  WITH CHECK ADD  CONSTRAINT [FKpyt24j0pyjjj0ariu2lxox34p] FOREIGN KEY([screening_room_id])
REFERENCES [dbo].[ScreeningRoom] ([id])
GO
ALTER TABLE [dbo].[ScreeningSchedule] CHECK CONSTRAINT [FKpyt24j0pyjjj0ariu2lxox34p]
GO
ALTER TABLE [dbo].[ScreeningSchedule]  WITH CHECK ADD  CONSTRAINT [FKx32x0gm6ryi1baotwgxhq3fy] FOREIGN KEY([movie_id])
REFERENCES [dbo].[Movie] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ScreeningSchedule] CHECK CONSTRAINT [FKx32x0gm6ryi1baotwgxhq3fy]
GO
ALTER TABLE [dbo].[Seat]  WITH CHECK ADD  CONSTRAINT [FKg8m6krelkeis3j7lil5bfmnpa] FOREIGN KEY([screening_room_id])
REFERENCES [dbo].[ScreeningRoom] ([id])
GO
ALTER TABLE [dbo].[Seat] CHECK CONSTRAINT [FKg8m6krelkeis3j7lil5bfmnpa]
GO
ALTER TABLE [dbo].[SeatReservation]  WITH CHECK ADD  CONSTRAINT [FK8vc1a8p7de9vv1io6uqretoqu] FOREIGN KEY([seat_id])
REFERENCES [dbo].[Seat] ([id])
GO
ALTER TABLE [dbo].[SeatReservation] CHECK CONSTRAINT [FK8vc1a8p7de9vv1io6uqretoqu]
GO
ALTER TABLE [dbo].[SeatReservation]  WITH CHECK ADD  CONSTRAINT [FKdkpn12704i79n22bx4fuqfv2n] FOREIGN KEY([screening_schedule_id])
REFERENCES [dbo].[ScreeningSchedule] ([id])
GO
ALTER TABLE [dbo].[SeatReservation] CHECK CONSTRAINT [FKdkpn12704i79n22bx4fuqfv2n]
GO
ALTER TABLE [dbo].[SeatReservation]  WITH CHECK ADD  CONSTRAINT [FKk9kmw9d7j6hhbddt52iifyeos] FOREIGN KEY([ticket_id])
REFERENCES [dbo].[Ticket] ([id])
GO
ALTER TABLE [dbo].[SeatReservation] CHECK CONSTRAINT [FKk9kmw9d7j6hhbddt52iifyeos]
GO
ALTER TABLE [dbo].[SeatReservation]  WITH CHECK ADD  CONSTRAINT [FKqt5iepcf1ayhvug10pat31c2s] FOREIGN KEY([booking_id])
REFERENCES [dbo].[Booking] ([id])
GO
ALTER TABLE [dbo].[SeatReservation] CHECK CONSTRAINT [FKqt5iepcf1ayhvug10pat31c2s]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK3kn6pjnpiwbxtpvhkh80j61p] FOREIGN KEY([screening_schedule_id])
REFERENCES [dbo].[ScreeningSchedule] ([id])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK3kn6pjnpiwbxtpvhkh80j61p]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FKf1up23cniawygoe4ouhcd9lj7] FOREIGN KEY([invoice_id])
REFERENCES [dbo].[Invoice] ([id])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FKf1up23cniawygoe4ouhcd9lj7]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FKokajjvg4ha2ltd3xqhs7qjb29] FOREIGN KEY([seat_id])
REFERENCES [dbo].[Seat] ([id])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FKokajjvg4ha2ltd3xqhs7qjb29]
GO
ALTER TABLE [dbo].[TransactionSepay]  WITH CHECK ADD  CONSTRAINT [FK9ab1lbmqg6hitvkjvqfod95dw] FOREIGN KEY([booking_id])
REFERENCES [dbo].[Booking] ([id])
GO
ALTER TABLE [dbo].[TransactionSepay] CHECK CONSTRAINT [FK9ab1lbmqg6hitvkjvqfod95dw]
GO
/****** Object:  StoredProcedure [dbo].[InsertSeats]    Script Date: 7/16/2025 9:22:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE PROCEDURE [dbo].[InsertSeats]
AS
BEGIN
    DECLARE @i INT = 1;
    DECLARE @current_row CHAR(1);
    DECLARE @seat_num INT;
    DECLARE @room_id INT = 2; -- screening_room_id = 2
    DECLARE @seat_name NVARCHAR(10);
    DECLARE @seat_type NVARCHAR(20);
    
    -- Xóa dữ liệu cũ nếu cần (tùy chọn)
    -- DELETE FROM Seat WHERE screening_room_id = @room_id;
    
    WHILE @i <= 120
    BEGIN
        -- Tính toán hàng ghế (A-J, mỗi hàng 12 ghế)
        SET @current_row = CHAR(ASCII('A') + (@i-1) / 12);
        
        -- Tính số ghế trong hàng (1-12)
        SET @seat_num = ((@i-1) % 12) + 1;
        
        -- Tạo tên ghế: A1, A2, ..., J12
        SET @seat_name = @current_row + CAST(@seat_num AS NVARCHAR(2));
        
        -- Xác định loại ghế
        IF @i <= 36
            SET @seat_type = 'Standard';  -- 3 hàng đầu (A-C)
        ELSE IF @i > 108
            SET @seat_type = 'Vip2';      -- Hàng cuối (J)
        ELSE
            SET @seat_type = 'Vip1';      -- Các hàng giữa (D-I)
        
        INSERT INTO Seat (
            name, 
            row, 
            screening_room_id, 
            seat_type, 
            status
        ) VALUES (
            @seat_name,     -- Tên ghế: A1, A2, ..., J12
            @current_row,   -- Hàng: A, B, C, ..., J
            @room_id,       -- screening_room_id = 2
            @seat_type,     -- Standard/Vip1/Vip2
            1               -- Trạng thái: 1
        );
        
        SET @i = @i + 1;
    END;
    
    PRINT 'Đã insert thành công 120 ghế!';
END;
GO
/****** Object:  StoredProcedure [dbo].[InsertSeatsR1]    Script Date: 7/16/2025 9:22:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertSeatsR1]
AS
BEGIN
    DECLARE @i INT = 1;
    DECLARE @current_row CHAR(1);
    DECLARE @seat_num INT;
    DECLARE @room_id INT = 1; -- ID phòng chiếu
    DECLARE @seat_name NVARCHAR(10);
    DECLARE @seat_type NVARCHAR(20);
    
    -- Xóa dữ liệu cũ nếu cần (tùy chọn)
    -- DELETE FROM Seat WHERE screening_room_id = @room_id;

    WHILE @i <= 160
    BEGIN
        -- Tính toán hàng ghế (A-J cho 10 hàng, mỗi hàng 16 ghế)
        SET @current_row = CHAR(ASCII('A') + (@i - 1) / 16);
        
        -- Tính số ghế trong hàng (1-16)
        SET @seat_num = ((@i - 1) % 16) + 1;
        
        -- Tạo tên ghế: A1, A2, ..., J16
        SET @seat_name = @current_row + CAST(@seat_num AS NVARCHAR(2));
        
        -- Xác định loại ghế
        IF @i <= 40
            SET @seat_type = 'Standard';  -- 2 hàng đầu (A-B)
        ELSE IF @i > 120
            SET @seat_type = 'Vip2';      -- 2 hàng cuối (I-J)
        ELSE
            SET @seat_type = 'Vip1';      -- Các hàng giữa (C-H)
        
        -- Chèn dữ liệu vào bảng Seat
        INSERT INTO Seat (
            name, 
            row, 
            screening_room_id, 
            seat_type, 
            status
        ) VALUES (
            @seat_name,     -- Tên ghế
            @current_row,   -- Hàng ghế
            @room_id,       -- ID phòng chiếu
            @seat_type,     -- Loại ghế
            1               -- Trạng thái: 1
        );
        
        SET @i = @i + 1; -- Tăng biến đếm
    END;
    
    PRINT 'Đã insert thành công 160 ghế!';
END;
GO
/****** Object:  StoredProcedure [dbo].[XoaTatCaBanGhiSeat]    Script Date: 7/16/2025 9:22:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[XoaTatCaBanGhiSeat]
AS
BEGIN
    -- Tạm thời vô hiệu hóa tất cả các ràng buộc khóa ngoại
    EXEC sp_msforeachtable 'ALTER TABLE ? NOCHECK CONSTRAINT ALL';

    -- Xóa tất cả bản ghi trong bảng Seat
    DELETE FROM Seat;

    -- Bật lại các ràng buộc khóa ngoại
    EXEC sp_msforeachtable 'ALTER TABLE ? CHECK CONSTRAINT ALL';
END;
GO
USE [master]
GO
